h1{
    border: green 10px solid;
    
    border-radius: 20px;

    outline-style: dashed;

    outline-color: blue;

    outline-offset: 10px;
}

p{
    border-style: solid;
}

div{
    border-style: dottod;
}

span{
    border-style: dashed;
}

/*{
    border-style: sodlid;
}*/